@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-gray-100 font-sans min-h-screen;
}
/* Fix Input Fields */
input, select, textarea {
  @apply bg-card text-white border border-gray-600 rounded-md px-3 py-2 w-full;
}

input:focus, select:focus, textarea:focus {
  @apply outline-none border-accent ring-1 ring-accent;
}
